<div class="flex items-center justify-between max-md:px-2 max-md:pt-2">
  <span class="mb-2 block md:mb-3 md:px-5 md:text-text-500 max-md:font-semibold">
    {{ 'customer.addresses.edit_address' | t }}
  </span>

  <button
    class="border-text-text-500 rounded-sm border p-3 md:hidden"
    @click="$store.popup.hidePopup('edit-address')"
    type="button"
  >
    {% render 'icon-close' %}
  </button>
</div>
<form
  method="post"
  :action="'{{ routes.account_addresses_url }}/' + address.id"
  accept-charset="UTF-8"
  class="md:contrast-border rounded-md bg-bg-500 px-2 pb-3 pt-5  md:px-5 md:py-5 "
>
  <input type="hidden" name="form_type" value="customer_address">
  <input type="hidden" name="utf8" value="✓">
  <input type="hidden" name="_method" value="put">

  <div class="mb-3 flex flex-col gap-3 md:flex-row">
    <label :for="'first_name' + address.id" class="sr-only tracking-widest">
      {{- 'customer.addresses.first_name' | t -}}
    </label>
    <input
      type="text"
      name="address[first_name]"
      placeholder="{{ 'customer.addresses.first_name' | t }}"
      :value="address.first_name"
      autocapitalize="words"
      autocomplete="given-name"
      required
      :id="'first_name' + address.id"
      class="input__field input__field--outline h-auto px-5 py-4"
    >

    <label :for="'last_name' + address.id" class="sr-only tracking-widest">
      {{- 'customer.addresses.last_name' | t -}}
    </label>
    <input
      type="text"
      name="address[last_name]"
      placeholder="{{ 'customer.addresses.last_name' | t }}"
      :value="address.last_name"
      :id="'last_name' + address.id"
      autocomplete="family-name"
      required
      autocapitalize="words"
      class="input__field input__field--outline h-auto px-5 py-4"
    >
  </div>

  <label :for="'company' + address.id" class="sr-only tracking-widest">{{ 'customer.addresses.company' | t }}</label>
  <input
    type="text"
    name="address[company]"
    placeholder="{{ 'customer.addresses.company' | t }}"
    :value="address.company"
    :id="'company' + address.id"
    autocapitalize="words"
    autocomplete="organization"
    class="input__field input__field--outline mb-3 h-auto bg-bg-500 px-5 py-4"
  >

  <label :for="'address' + address.id" class="sr-only tracking-widest">{{ 'customer.addresses.address1' | t }}</label>
  <input
    type="text"
    name="address[address1]"
    placeholder="{{ 'customer.addresses.address1' | t }}"
    :value="address.address1"
    :id="'address1' + address.id"
    autocomplete="address-line1"
    required
    autocapitalize="words"
    class="input__field input__field--outline mb-3 h-auto bg-bg-500 px-5 py-4"
  >

  <label :for="'address2' + address.id" class="sr-only tracking-widest">{{ 'customer.addresses.address2' | t }}</label>
  <input
    type="text"
    name="address[address2]"
    placeholder="{{ 'customer.addresses.address2' | t }}"
    :value="address.address2"
    :id="'address2' + address.id"
    autocomplete="address-line2"
    autocapitalize="words"
    class="input__field input__field--outline mb-3 h-auto bg-bg-500 px-5 py-4"
  >

  <div class="mb-3 flex flex-col gap-3 md:flex-row">
    <label :for="'city' + address.id" class="sr-only tracking-widest">{{ 'customer.addresses.city' | t }}</label>
    <input
      type="text"
      name="address[city]"
      placeholder="{{ 'customer.addresses.city' | t }}"
      :value="address.city"
      :id="'city' + address.id"
      autocomplete="address-level2"
      required
      autocapitalize="words"
      class="input__field input__field--outline h-auto px-5 py-4"
    >
    <label :for="'country' + address.id" class="sr-only tracking-widest">{{ 'customer.addresses.country' | t }}</label>
    <select
      x-ref="address_country"
      @change="updateCountry($event)"
      name="address[country]"
      placeholder="{{ 'customer.addresses.country' | t }}"
      autocomplete="country"
      :value="address.country"
      :id="'country' + address.id"
      required
      class="input__field input__field--outline h-auto px-5 py-4"
    >
      {{ country_option_tags }}
    </select>
  </div>

  <label :for="'province' + address.id" class="sr-only tracking-widest">{{ 'customer.addresses.province' | t }}</label>
  <select
    x-show="province?.length"
    name="address[province]"
    placeholder="{{ 'customer.addresses.province' | t }}"
    :value="address.province"
    :id="'province' + address.id"
    autocomplete="address-level1"
    autocapitalize="words"
    class="input__field input__field--outline mb-3 h-auto bg-bg-500 px-5 py-4"
  >
    <template x-for="item in province">
      <option :value="item[0]" x-text="item[0]"></option>
    </template>
  </select>

  <label :for="'zip' + address.id" class="sr-only tracking-widest">{{ 'customer.addresses.zip' | t }}</label>
  <input
    type="text"
    name="address[zip]"
    placeholder="{{ 'customer.addresses.zip' | t }}"
    :value="address.zip"
    :id="'zip' + address.id"
    autocomplete="postal-code"
    required
    autocapitalize="words"
    class="input__field input__field--outline mb-3 h-auto bg-bg-500 px-5 py-4"
  >

  <label :for="'phone' + address.id" class="sr-only tracking-widest">{{ 'customer.addresses.phone' | t }}</label>
  <input
    type="tel"
    name="address[phone]"
    placeholder="{{ 'customer.addresses.phone' | t }}"
    :value="address.phone"
    :id="'phone' + address.id"
    autocomplete="tel"
    autocapitalize="words"
    class="input__field input__field--outline mb-3 h-auto bg-bg-500 px-5 py-4"
  >

  <label class="mb-7 mt-5 flex items-center gap-3 px-4" :for="'address_default_address_update' + address.id">
    <input
      type="checkbox"
      name="address[default]"
      :checked="address.default"
      :id="'address_default_address_update' + address.id"
      class="checkbox__input"
    >
    <span class="checkbox__control" aria-hidden="true">
      {% render 'icon-checkmark' %}
    </span>
    <span class="checkbox__label ml-0 ">
      {{- 'customer.addresses.set_default' | t -}}
    </span>
  </label>

  <div class="flex gap-4">
    <button
      type="button"
      @click="hideForm()"
      class="button button--outline button--outline-primary max-md:hidden"
    >
      {{ 'customer.addresses.cancel' | t }}
    </button>

    <button type="submit" class="button button--filled button--filled-primary flex-1">
      {{ 'customer.addresses.update' | t }}
    </button>
  </div>
</form>
