{% liquid
  assign theme_direction = settings.theme_direction | default: 'ltr'
  assign rtl_langs = 'ar,ku,fa,ur,he' | split: ','

  if theme_direction == 'auto' and rtl_langs contains request.locale.iso_code
    assign theme_direction = 'rtl'
  endif
%}

<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{{ theme_direction }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#181818">

    <!-- page-meta -->
    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <link rel="canonical" href="{{ canonical_url }}">
    <!-- end-page-meta -->

    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32 }}">
    {%- endif -%}

    {%- unless settings.body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    {{ content_for_header }}

    {% render 'head-styles' %}

    <link rel="stylesheet" href="{{ 'app.css' | asset_url }}">
    <script defer src="{{ 'app.js' | asset_url }}"></script>
    <script defer src="{{ 'alpine.3.14.0.min.js' | asset_url }}"></script>

    {%- unless settings.body_font.system? -%}
      {% comment %}theme-check-disable AssetPreload{% endcomment %}
      <link rel="preload" as="font" href="{{ settings.body_font | font_url }}" type="font/woff2" crossorigin>
      {% comment %}theme-check-enable AssetPreload{% endcomment %}
    {%- endunless -%}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>

    {% render '_compute-ratio' %}

    {% comment %} Preload image for LCP improvement {% endcomment %}
    {% case request.page_type %}
      {% when 'product' %}
        {% liquid
          assign variant_image = product.selected_or_first_available_variant.image
          unless variant_image
            assign variant_image = product.media | first
          endunless
        %}
        {% if variant_image %}
          {{ variant_image | image_url | preload_tag: as: 'image' }}
        {% endif %}

      {% when 'collection' %}
        {% liquid
          assign first_product = collection.products | first
        %}
        {% if first_product and first_product.featured_image %}
          {{ first_product.featured_image | image_url | preload_tag: as: 'image' }}
        {% endif %}
    {% endcase %}

    {% comment %} Support transition view for multi-page (MPA) navigation {% endcomment %}
    {% if settings.navigation_type == 'mpa' %}
      {% render '_transition-view' %}
    {% endif %}
  </head>

  <body
    class="
      gradient bg-primary-500
      {% if request.page_type == 'collection' or request.page_type == 'search' %}
        max-md:[&_.card-product:nth-child(-n+2)_.no-fade]:opacity-100
        md:[&_.card-product_.no-fade]:opacity-100
      {% else %}
        [&_.no-fade]:opacity-100
      {% endif %}
    "
    x-data
    x-init="
      () => {
        $store.main.totalCartQty = {{ cart.item_count | default: 0 }}
        $store.main.showCurrency = !!{{ settings.currency_code_enabled }}
        $store.cart.cartType = '{{ settings.cart_type }}'
        $store.cart.cartUrl = '{{ routes.cart_url }}'
      }
    "
  >
    {% render '_svg-filters' %}

    <div class="page-wrapper flex min-h-screen max-w-screen flex-col bg-bg-500">
      <a
        class="skip-to-content-link button sr-only"
        href="#MainContent"
        tabindex="1"
      >
        {{ 'accessibility.skip_to_text' | t }}
      </a>

      {% sections 'header-group' %}
      {% render 'popup-wrapper' %}
      {% render 'transition-preview' %}
      {% render 'element-transition-wrapper' %}

      <template x-fallback-template-type="search">
        {% render '_search_fallback' %}
      </template>
      <template x-fallback-template-type="product">
        {% render '_pdp_fallback' %}
      </template>
      <template x-fallback-template-type="category">
        {% render '_clp-fallback' %}
      </template>
      <template x-fallback-template-type="article">
        {% render '_article-fallback' %}
      </template>

      <!-- Wrapper contains main element when it is scaled thus fixing popup bottom position -->
      <div
        class="main-wrapper -mt-[72px] flex-1 md:-mt-[89px] max-md:overflow-hidden"
        :class="
          {
            'print:max-md:!hidden': $store.popup._isPopupVisible
          }
        "
      >
        <!-- main-content -->
        <main
          id="MainContent"
          class="content-for-layout focus-none flex h-full origin-top flex-col transition-transform duration-500 will-change-transform motion-reduce:transition-none"
          :class="
            {
              'is-transition': $store['transition'].isAnimating,
            }
          "
          role="main"
          tabindex="-1"
          @scroll.window="$store.main.setTransformValues"
        >
          {% if request.page_type != 'customers/account'
            and request.page_type != 'customers/addresses'
            and request.page_type != 'customers/order'
          %}
            <div
              class="{% case request.page_type %}{% when 'product' %} md:mt-[89px] {% when 'index' %} {% when 'cart' %} {% else %} mt-[72px] md:mt-[89px] {% endcase %}"
            ></div>
          {% endif %}

          {% render 'breadcrumbs' %}

          <!-- preview-content -->
          {{ content_for_layout }}
          <!-- end-preview-content -->

          {% comment %}
            Render footer inside main so it can be removed/added when navigating between pages, and teleport it outside of main to be sticky to the bottom
          {% endcomment %}
          {% if request.page_type != 'customers/account'
            and request.page_type != 'customers/addresses'
            and request.page_type != 'customers/order'
          %}
            <template x-portal="document.getElementById('footer-portal')">
              <div class="contents">
                {% sections 'footer-group' %}
              </div>
            </template>
          {% endif %}
        </main>
        <!-- end-main-content -->
      </div>

      <ul hidden>
        <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
      </ul>
    </div>

    <div id="footer-portal" class="bg-bg-500"></div>

    {% render 'footer-scripts' %}
  </body>
</html>
