{% liquid
  assign show_countries_selector = false
  assign available_countries_size = localization.available_countries | size
  if section.settings.country_selector_enable and available_countries_size > 1
    assign show_countries_selector = true
  endif

  assign show_languages_selector = false
  assign available_languages_size = localization.available_languages | size
  if section.settings.language_selector_enable and available_languages_size > 1
    assign show_languages_selector = true
  endif
%}

{%- capture footerPayments -%}
  {%- if section.settings.payment_enable -%}
    <div class="px-5 text-center text-4xl">
      {%- for type in shop.enabled_payment_types -%}
        <div class="mx-1.5 inline-block [&:first-of-type]:ms-0 [&:last-of-type]:ms-0">{{ type | payment_type_svg_tag: class: 'icon' }}</div>
      {%- endfor -%}
    </div>
  {%- endif -%}
{%- endcapture -%}

{%- capture footerCopyright -%}
  <p class="text-center text-sm text-text-500 md:text-md">
    &copy; {{ 'now' | date: '%Y' }},
    {% if section.settings.copyright_text != blank %}
      {{ section.settings.copyright_text }}
    {% else %}
      {{ shop.name | link_to: routes.root_url }}
    {% endif %}
  </p>
{%- endcapture -%}

<footer
  class="footer rounded-t-2xl md:bg-secondary-50 {% if section.settings.custom_color_scheme %}color-{{ section.settings.color_scheme }} bg-bg-500{% endif %}"
  x-cloak
  :class="{ 'hidden': $store.main.isMobile && '{{ request.page_type }}' !== 'index' }"
>
  <div class="content-wrapper mx-auto flex w-full flex-col items-stretch gap-5 pb-5 md:gap-8 md:py-8">
    <div class="flex w-full flex-col items-center gap-5 md:flex-row-reverse md:justify-between md:gap-7">
      {{ footerPayments }}
      {%- if show_countries_selector or show_languages_selector -%}
        <div class="flex flex-wrap justify-center gap-5 text-center md:order-1">
          {%- if show_countries_selector -%}
            {% render 'country-selector' %}
          {%- endif -%}
          {%- if show_languages_selector -%}
            {% render 'language-selector' %}
          {%- endif -%}
        </div>
      {%- endif -%}

      {{ footerCopyright }}
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.footer.settings.country_selector.header.content"
    },
    {
      "type": "checkbox",
      "id": "country_selector_enable",
      "default": true,
      "label": "t:sections.footer.settings.country_selector.label",
      "info": "t:sections.footer.settings.country_selector.info"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.language_selector.header.content"
    },
    {
      "type": "checkbox",
      "id": "language_selector_enable",
      "default": true,
      "label": "t:sections.footer.settings.language_selector.label",
      "info": "t:sections.footer.settings.language_selector.info"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.copyright.header.content"
    },
    {
      "type": "inline_richtext",
      "id": "copyright_text",
      "label": "t:sections.footer.settings.copyright.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.payment_methods.header.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_methods.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.header"
    },
    {
      "type": "checkbox",
      "id": "custom_color_scheme",
      "default": false,
      "label": "t:sections.all.custom_color_scheme.label",
      "info": "t:sections.all.custom_color_scheme.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
