{%- paginate blog.articles by 12 -%}
  <div class="{% if section.settings.custom_color_scheme %}color-{{ section.settings.color_scheme }} bg-bg-500{% endif %}">
    <div
      class="content-wrapper mx-auto"
      style="padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px"
    >
      <div class="py-4">
        <h1 class="heading text-2xl text-text-500">{{ blog.title | escape }}</h1>
      </div>

      <div
        data-content-wrapper
        class="mb-7 grid grid-cols-1 gap-8 pt-5 md:grid-cols-2 lg:mb-8 lg:grid-cols-3 xl:grid-cols-4"
      >
        <!-- pagination-content -->
        {%- for article in blog.articles -%}
          {%- render 'article-card',
            article: article,
            media_aspect_ratio: article.image.aspect_ratio,
            show_image: section.settings.show_image,
            show_date: section.settings.show_date,
            show_author: section.settings.show_author,
            show_excerpt: true,
            truncate_title: false
          -%}
        {%- endfor -%}
        <!-- end-pagination-content -->
      </div>

      {%- if paginate.pages > 1 and paginate.next -%}
        <div class="flex flex-col items-center">
          <a
            href="#"
            x-pagination-trigger="{ 'lastPage': {{ paginate.pages }} }"
            class="button btn--size-md button--outline-primary cursor-pointer"
          >
            {{ 'general.pagination.load_more' | t }}
          </a>
        </div>
      {%- endif -%}
    </div>
  </div>
{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.header"
    },
    {
      "type": "checkbox",
      "id": "custom_color_scheme",
      "default": false,
      "label": "t:sections.all.custom_color_scheme.label",
      "info": "t:sections.all.custom_color_scheme.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
